<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.mapper.CourseToStudentMapper">
    <insert id="insertCourseToStudent" parameterType="CourseToStudent">
        insert into db_student_manage.course_to_student (s_id, c_id)
        values (#{sId},#{cId})
    </insert>

    <
</mapper>
